@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_hyperspaceLayout.cshtml";
}

<body>
    <div id="wrapper">

        <!-- Two -->
        <section id="two" class="wrapper style3 fade-up">
            <div class="inner">
                <h2>About Us</h2>
            </div>
            @*<div class="align-center">
                <h2>Committee Members</h2>
            </div>*@
            <div class="wrap wrap-center-three-columns">
                <div class="column-two">
                    <img class="img-circle img-center" src="~/Images/imgDinkarC.jpg" height="70px" width="70px" />
                    <h4 class="w-person-name align-center">Dinkar Chadawar</h4>
                    <div class="w-person-role align-center">
                        @*<strong>President of Arya Vaishya Samaj & </strong>
                        <br />*@
                        <strong>President of Melawa</strong>
                    </div>
                    <div class="w-person-role align-center">
                        <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                        <strong>9822001088</strong>
                    </div>

                </div>

                <div class="column-two">
                    <img class="img-circle img-center" src="~/Images/imgPromodU.jpg" height="70px" width="70px" />
                    <h4 class="w-person-name align-center">Promod Uttarwar</h4>
                    <div class="w-person-role align-center">
                        <strong>Secretary of Melawa</strong>
                    </div>
                    <div class="w-person-role align-center">
                        <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                        <strong>9420072005</strong>
                    </div>

                </div>

                <div class="column-two">
                    <img class="img-circle img-center" src="~/Images/imgSanjayK.jpg" height="70px" width="70px" />
                    <h4 class="w-person-name align-center">Sanjay Kancharlawar</h4>
                    <div class="w-person-role align-center">
                        <strong>Treasurer of Melawa</strong>
                    </div>
                    <div class="w-person-role align-center">
                        <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                        <strong>9763139417</strong>
                    </div>
                </div>
            </div>
            <br />
            <div class="wrap wrap-center">
                <div class="column-one">
                    <img class="img-circle img-center" src="~/Images/imgDinkarC.jpg" height="70px" width="70px" />
                    <h4 class="w-person-name align-center">Uday Gandhewar</h4>
                    <div class="w-person-role align-center">
                        @*<strong>President of Arya Vaishya Samaj & </strong>
                        <br />*@
                        <strong>Website Management</strong>
                    </div>
                    <div class="w-person-role align-center">
                        <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                        <strong>9850487387</strong>
                    </div>

                </div>

                <div class="column-one">
                    <img class="img-circle img-center" src="~/Images/imgPromodU.jpg" height="70px" width="70px" />
                    <h4 class="w-person-name align-center">Gajanan Daramwar</h4>
                    <div class="w-person-role align-center">
                        <strong>Website Management</strong>
                    </div>
                    <div class="w-person-role align-center">
                        <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                        <strong>0000000000</strong>
                    </div>

                </div>

                <div class="column-one">
                    <img class="img-circle img-center" src="~/Images/imgSanjayK.jpg" height="70px" width="70px" />
                    <h4 class="w-person-name align-center">Sahil Kashetwar</h4>
                    <div class="w-person-role align-center">
                        <strong>Website Management</strong>
                    </div>
                    <div class="w-person-role align-center">
                        <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                        <strong>0000000000</strong>
                    </div>
                </div>

                <div class="column-one">
                    <img class="img-circle img-center" src="~/Images/imgAudumebrK.jpg" height="70px" width="70px" />
                    <h4 class="w-person-name align-center">Audumber Kapratwar</h4>
                    <div class="w-person-role align-center">
                        <strong>Website Management</strong>
                    </div>
                    <div class="w-person-role align-center">
                        <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                        <strong>9423627171</strong>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; Durga Software Technologies. All rights reserved.</li>
                <li>Designed By: Kalyan Kapratwar</li>
            </ul>
        </div>
    </footer>
</body>
