@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_hyperspaceLayout.cshtml";
}
<header>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</header>
<body>
    <div class="wrapper">
        <section class="wrapper style1 fullscreen align-center fade-up">
            <div class="inner">
                <h2>वासवी कन्यका परमेश्वरी माता मंदिर, पेनुगोंडा, आंध्र प्रदेश (जन्म गाव)</h2>
                <img src="~/Content/hyperspacetemplate/images/about-photo.png" alt="image1" height="200" width="250" />
                <p>
                    प्राचीन काळी आंध्र प्रदेशातील पश्चिम गोदावरीजिल्ह्यात थानकुसा तालुक्यामध्ये ‘पेनुगोंडा’ नावाचे गाव होते. या गावामध्ये ‘वासवी’चा जन्म झाला. म्हणून हे श्री कन्यका परमेश्वरीचे जन्मस्थान पेनुगोंडाम्हणून ओळखले जाते. 
 पेनुगोंडा येथे राजा कुसुमश्रेष्ठी व राणीकुसुमांबा यांचे राज्य होते. बर्यारच वर्षानंतरही त्यांना मूल न झाल्याने त्यांनी आपले गुरू भास्कराचार्या यांच्या सांगण्यावरून यज्ञ केला. यज्ञाचे पौरोहित्य गुरू भास्कराचार्यांनीस्वीकारले. त्याप्रमाणेयज्ञातील आकाशवाणीनुसार प्रसाद ग्रहण केल्याने  कुसुमश्रेष्ठीला अपत्य प्राप्त होण्यास सर्व देवतांनी त्यांना आशीर्वाददिला. त्यानुसार कुसुमांबा यांनी वैशाख शु।। 10 वार शुक्रवार उत्तरा नक्षत्रावरकन्या राशीमध्ये दोन जुळ्यांना जन्म दिला. मुलांचे नाव विरूपाक्ष व मुलीचे नाववासवी ठेवण्यात आले. कालांतराने चंद्राच्या कलेप्रमाणे वासवी मोठी होतगेली. 
 त्यावेळेस क्षेत्रीयांचा राजा विष्णुवर्धन यास राजा कुसुमश्रेष्ठींनी आपल्या परिवारांची ओळख करून दिली.वासवीचे रूप पाहताक्षणीराजा विष्णुवर्धन मूर्छित झाला. कारण वासवी ही एवढी सुंदर, तिचे डोळे, तिच्याचेहर्याावरील तेज, गौर वर्ण, नाजूक पाहून तो तिला पाहातच मोहात पडला. त्यानंतर राजा कुसुमश्रेष्ठी यांना वासवीच्या विवाहाची मागणी घातली.राजाने राजसभा बोलावून वैशंचे 714 गोत्रज चर्चेसाठी आले. सर्वाचे एकमत न झाल्याने714 पैकी 102 गोत्रज राजा कुसुमश्रेष्ठीचबाजूने होते. त्यामुळे दोन गट निर्माण झाले. 612 गोत्रज वैश्यकुळामधून वेगळे झाले. आणि तेव्हापासून 102 गोत्रजच लोकांना ‘आर्य वैश्य’ म्हणून ओळखले जाऊ लागले.
विष्णुवर्धन राजाला विवाहचा नकार पाठविला. परंतुत्याने युद्धकरून वासवीला जिंकून तिच्याशी विवाह करण्याचा आग्रह धरला. ही बातमीवासवीला समजच आपले मत सांगितले, मला युद्ध करून माझ्यामुळे रक्तताप होऊ नये यासाठी अहिंसा वत्यागाची  भूमिका घेऊन आपण युद्धांचे नियंत्रण करू. हा विचार सर्व उपस्थितांनापटलाने, राजाने वासवीच्या आदेशांचे पालन करण्याचा हुकूमकाढला. सर्वजण वासवीच्या सांगण्यावरून गोदावरी नदीकडे गेले.तेथे वासवीच्या आदेशाने 103 अग्निकुंडाची तयारी करण्यात आली. वासवी स्वत: मधल्याअग्निकुंडासमोर उभी राहिली आणि 102 (गोत्रजांना) प्रत्येकअग्निकुंडासमोर उभे राहण्यास सांगितले. मी स्वत: अग्निकुंडात उडीमारणार आहे. आपण ही उडी मारायला तयार आहात का? असा प्रश्न केला, सगळे विचारात पडले.सर्वाना कळले की, वासवी ही साधी नाही, तिच्यामध्ये गूढशक्ती वास करीत आहे. तिनेआपले विश्वरूप दाखवून सांगितले की, मी आदिशक्तीचा अवतार आहे. कलयुगामध्ये स्त्रिांना संरक्षण देण्याचा मी निश्चय केला म्हणून मी ‘वासवीब्रह्मचारिणी’ या नावाने वैश्य कुळामध्ये जन्म घेतला हे ऐकून सर्वजण स्तब्ध झाले.वासवीचे मूळरूप पाहून सर्वजणांनी साष्टांग नमस्कार केला. ती म्हणाली, माझ्या यायोजनेमुळे विष्णुवर्धन राजाचा नाश होईल.  त्याचदिवशी म्हणजे माघ शुद्ध द्वितीया 102 गोत्रज वैश्य दाम्पत्यांनी ईश्वरांचे चिंतन करीत अग्निकुंडाला प्रदक्षिणा मारली आणिविष्णुवर्धन राज्याविषयी राग आणि असामाधान व्यक्त केले. सर्वानी अगदी प्रसन्नचित्ताने वासवीसहीत अग्निकुंडात उडय़ा घेतल्या.ही वार्ता विष्णुवर्धन राजास कळताच त्यांच्या हृदयाचे व डोक्याचे तुकडे तुकडे झाले. त्याची जीवनयात्रासंपुष्टात आली. जसे कर्म केले तसे त्याला फळ मिळाले. 
पेनुगोंडा येथे विरुपाक्षाचा राज्यभिषेक करण्यात आला. श्री कन्यका परमेश्वरीचा पुतळानगरेश्वरांच्या मंदिरात उभारण्यात आला. त्यानंतर ते मंदिर ‘वासवी कन्यकापरमेश्वरीचे’ मंदिर म्हणून ओळखले जाऊ लागले.
                </p>
            </div>
        </section>
    </div>
</body>
