@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_hyperspaceLayout.cshtml";
}
<head>
    
</head>
<body>
    <div id="wrapper">

        <!-- Two -->
        <section id="two" class="wrapper style1 fade-up">
            <div class="inner align-center">
                <h2>सदस्य समिती</h2>

                @*<div class="align-center">
                <h2>Committee Members</h2>
            </div>*@
                <div class="wrap split">
                    <section>
                        <img class="img-circle img-center" src="~/Images/AboutUs/imgDinkarC.jpg" height="80px" width="80px"/>
                        <h4 class="w-person-name align-center">श्री दिनकरराव बा. चाडावार</h4>
                        <div class="w-person-role align-center">
                            @*<strong>President of Arya Vaishya Samaj & </strong>
                        <br />*@
                            <strong>अध्यक्ष, आर्यवैश्य समाज, किनवट</strong>
                        </div>
                        <div class="w-person-role align-center">
                            <img src="~/Images/phoneIcon.png" height="15px" width="15px"/>
                            <strong>९८२२००१०८८ </strong>
                        </div>
                    </section>
                     <section>
                        <img class="img-circle img-center" src="~/Images/AboutUs/imgDinkarC.jpg" height="80px" width="80px" />
                        <h4 class="w-person-name align-center">श्री प्रमोद ई. उत्तरवार</h4>
                        <div class="w-person-role align-center">
                            @*<strong>President of Arya Vaishya Samaj & </strong>
                        <br />*@
                            <strong>अध्यक्ष, आर्यवैश्य युवा संघटना, किनवट </strong>
                        </div>
                        <div class="w-person-role align-center">
                            <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                            <strong>९८२२००१०८८ </strong>
                        </div>
                    </section>
                    <section>
                        <img class="img-circle img-center" src="~/Images/AboutUs/imgPromodU.jpg" height="80px" width="80px" />
                        <h4 class="w-person-name align-center">श्री प्रमोद उत्तरवार </h4>
                        <div class="w-person-role align-center">
                            <strong>सचिव, मेळावा</strong>
                        </div>
                        <div class="w-person-role align-center">
                            <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                            <strong>९४२००७२००५</strong>
                        </div>

                    </section>

                    <section>
                        <img class="img-circle img-center" src="~/Images/AboutUs/imgSanjayK.jpg" height="80px" width="80px" />
                        <h4 class="w-person-name align-center">श्री संजय कंचर्लावार</h4>
                        <div class="w-person-role align-center">
                            <strong>खजिनदार, मेळावा</strong>
                        </div>
                        <div class="w-person-role align-center">
                            <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                            <strong>९७६३१३९४१७</strong>
                        </div>
                    </section>
                </div>
                <br />
                <div class="wrap split">

                    <section>
                        <img class="img-circle img-center" src="~/Images/AboutUs/imgAudumebrK.jpg" height="80px" width="80px" />
                        <h4 class="w-person-name align-center">श्री औदुंबर काप्रतवार</h4>
                        <div class="w-person-role align-center">
                            <strong>वेबसाईट व्यवस्थापन</strong>
                        </div>
                        <div class="w-person-role align-center">
                            <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                            <strong>९४२३६२७१७१</strong>
                        </div>
                    </section>

                    <section>
                        <img class="img-circle img-center" src="~/Images/AboutUs/imgUdayG.jpg" height="80px" width="80px" />
                        <h4 class="w-person-name align-center">श्री उदय गंधेवार</h4>
                        <div class="w-person-role align-center">
                            @*<strong>President of Arya Vaishya Samaj & </strong>
                        <br />*@
                            <strong>वेबसाईट व्यवस्थापन</strong>
                        </div>
                        <div class="w-person-role align-center">
                            <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                            <strong>९८५०४८७३८७</strong>
                        </div>

                    </section>

                    <section>
                        <img class="img-circle img-center" src="~/Images/AboutUs/imgGajananD.jpg" height="80px" width="80px" />
                        <h4 class="w-person-name align-center">श्री गजानन दारामवार</h4>
                        <div class="w-person-role align-center">
                           <strong>वेबसाईट व्यवस्थापन</strong>
                        </div>
                        <div class="w-person-role align-center">
                            <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                            <strong>0000000000</strong>
                        </div>

                    </section>

                    <section>
                        <img class="img-circle img-center" src="~/Images/AboutUs/imgSahilK.jpg" height="80px" width="80px" />
                        <h4 class="w-person-name align-center">श्री साहिल कशेटवार</h4>
                        <div class="w-person-role align-center">
                            <strong>वेबसाईट व्यवस्थापन</strong>
                        </div>
                        <div class="w-person-role align-center">
                            <img src="~/Images/phoneIcon.png" height="15px" width="15px" />
                            <strong>0000000000</strong>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</body>
