@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_hyperspaceLayout.cshtml";
}

<body>
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen align-center">
            <div class="inner">
                <img class="img-circle half first" style="float: left" src="~/Images/KanyakaParmeshwari.jpg" height="500px" />
                <h1>Arya Vaishya Melava, Kinwat</h1>
                <p>
                    Comins Soon....
                </p>
                <button class="btn btn-info" type="button" id="btnLaunch" onclick="location.href='@Url.Action("Register", "Registration")'">
                    Launch Website</button>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; Durga Software Technologies. All rights reserved.</li>
                <li>Designed By: Kalyan Kapratwar</li>
            </ul>
        </div>
    </footer>
</body>
